.maincontainer{
   width:100%;
   height:100%;


}
.bg { 
  background-image: url("images.jpg");
  height: 100%; 
  width:100%;
  background-repeat:no-repeat;
  position:relative;

}
h1{
   left:120px;
   position:relative;
   bottom:100px;

} 
.ustkisim 
{       height:100px;
        margin-bottom:10px;
        position: relative;
}
.menu{
        height:50px;
        margin-bottom:10px;
        position: relative;
        font-size:30px;
}
.sol {

    width:200px;
    height:630px;
    position: relative;
}
.sag
{
    width:200px;
    height:630px;
    position: relative;
    left:1600px;
    bottom: 1360px;

}




.ickısım{
   width:1000px;
   height:700px;
   margin-bottom:10px;
   position: relative;
   margin: auto;
   position: relative;
   bottom:647px;
  

}
.footer{
      height:100px;
      margin-top: 650px;
     position: relative;
     bottom:1900px;
        
}


