h1{
   left:120px;
   position:relative;
   bottom:100px;

} 

.maincontainer
      { 
        
      }
.ustkisim 
{       height:100px;
        margin-bottom:10px;
         position: relative;
}
.menu{
        height:50px;
        margin-bottom:10px;
        position: relative;
}
.sol {

    width:200px;
    height:630px;
    position: relative;
}
.ickısım{
   width:1337px;
   height:700px;
   margin-bottom:10px;
   position: relative;
   margin: auto;
   position: relative;
   bottom:647px;
  

}
.footer{
      height:100px;
      margin-top: 650px;
     position: relative;
     bottom:1250px;
        
}
