.maincontainer{
   width:100%;
   height:100%;


}



h1{
   left:120px;
   position:relative;
   bottom:100px;

} 
.bg { 
  background-repeat:no-repeat;
  position:relative;
}

.ustkisim 
{       height:100px;
        margin-bottom:10px;
        position: relative;
}
.menu{
        height:50px;
        margin-bottom:10px;
        position: relative;
}

.ickısım{
   width:1337px;
   height:700px;
   margin-bottom:10px;
   position: relative;
   margin: auto;
   position: relative;
 
}