
.container
      { width:1850px;
        margin:0 auto;
        height: 800px;
      }
.ustkisim 
{       height:150px;
        margin-bottom:10px;
        background-color:white;
}
.sol {

    width:275px;
    height:630px;
    background-color:white;
    float:right;
}
.sag
{
    width:275px;
    height:630px;
    background-color:white;
    float:left;
    margin-bottom:10px;
}

.ickısım{
    width:1600px;
   height:630px;
   margin-bottom:10px;
   background-color:green;
}
.footer{
        height:150px;
        background-color:white;
        margin-top: 10px;
        
}


