
.ustkisim{
	height:100px;
	width:1900px;
	background-color:black;
}
.gecis{
    height:100px;
    width:1900px;
    background-color:white; 
}
.ickısım{
    height:900px;
    width:900px;
    background-color:black;
    margin-top: 100px;
    margin-bottom: 200px;
    margin-right: 150px;
    margin-left: 600px;
}
.yankısım{
    height:600px;
    width:200px;
    background-color:white;
    float:unset;
    margin:auto;
    
}
